.container {
  align-self: center;
  width: 80%;
  display: grid;
  grid-template-columns: 60% 40%;
  padding: 1rem;
}
.labelImg {
  width: 85%;
  height: 20rem;
  border-radius: 10px;
}
.contentContainer {
  align-self: center;
  max-width: 80%;
}
.contentContainer h2 {
  font-family: "Young Serif", serif;
  color: #2f6558;
  margin: 0;
}
.contentContainer p {
  color: #1D4239;
  font-family: 'Roboto', sans-serif;
}

@media (max-width: 767px) {
  .container {
    grid-template-columns: none;
    grid-template-areas:
      "item2"
      "item1";
    width: 100%;
    padding: 1rem 0 1rem 0;
  }
  .labelImg {
    grid-area: item1;
  }
  .contentContainer {
    grid-area: item2;
  }
}
