

 .anchorContainer{
    width: fit-content;
 }
.anchor{
    display: inline-block;
    padding: 10px 20px;
    background-color: #1D4239;
    color: #E1FBF5;
    text-decoration: none;
    border: none;
    border-radius: 10px; 
    cursor: pointer;
    text-align: center;
    font-size: 16px; 
    font-weight: bold;
    transition:  0.3s ease; 
  
}

/* Media queries for mobile screens*/
@media (max-width:767px) {
    .anchor{
        padding: 10px;
        font-size: 13px;
    }
}