.btn {
  padding: 1rem;
  background-color: transparent;
  border: 1px solid #1d4239;
  color: #1d4239;
  cursor: pointer;
  width: 6rem;
  text-align: center;
}
.active {
  font-weight: bold;
  border: 5px dotted #1d4239;
}
